/* *, *::before, *::after{
    box-sizing: border-box;
} */

body{
background-color: black;
}

img{
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
    display: block;
    max-width: 100%;
}